.Connect-caption
{
    width: 50%;
}


button
{
    border: none;
    background-color: #ff6600;
    color: white;
    padding: 1rem 2rem ;
    border-radius: 2rem;
    transition: .5s;
}
 button:hover
{
    background-color: white;
    color: #ff6600;
}

.Connect-inner .contain
{
    background-image: url(../../assets/box-bg-2.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    padding: 7rem 5rem;
}

.aboutCaption li {
  width: 50%;
  list-style: none;
}

.list {
  display: flex;
  align-items: center;
}

.icon-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 3px solid #ff6600;
  border-radius: 50%;
  color: #ff6600;
  transition: 0.4s;
  flex-shrink: 0;
}

.aboutCaption li span {
  color: white;
  transition: 0.4s;
  font-size: 1rem;
}

.aboutCaption li:hover span {
  color: #ff6600;
  transform: scale(1.04);
}

.aboutCaption li:hover .icon-circle {
  background-color: #ff6600;
  color: white;
  border-color: white;
}

@media (max-width: 1024px) {
  .aboutCaption li {
    width: auto;
  }
}


@media(max-width:1024px)
{
    .Connect-inner .contain
{
    background-image: url(../../assets/box-bg-2.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: bottom;
    
}
.Connect-caption
{
    width: 100%;
    text-align: center;
}
.Connect-inner ul
{
    display: none;
}
}